.col-12{
    text-align: center;
}
.bnt-default{
    background-color: rgb(243, 183, 172);
    color: white;
}
h1{
    color: blue;;
    font-weight: bold;
}
/*table{
    align-content: center;
    border: 2% solid gray;
    border-collapse: collapse;
}*/